<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NOVA Web Development To-Do List</title>
</head>
<body>
<h1>NOVA Web Development To-Do List</h1>

<form method="POST">
{% csrf_token %}
<input name="item_text" id="id_new_item" placeholder="Enter a to-do item">
<form>

<table id="id_list_table">
<tr><td>1. {{ new_item_text }}</td></tr>
</table>

</body>
<html>
